<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container ">

        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('app_home') }}">
            Benoit Menier
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>

            <!-- Navigation -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link "  href="">
                        A propos de moi
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link "  href="#">
                        Projects
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">
                        Contact
                    </a>

                </li>
                <li class="nav-item dropdown">

                    <!-- Toggle -->
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.request.locale|locale_name(app.request.locale)|capitalize }}
                    </a>

                    <!-- Menu -->
                    <div class="dropdown-menu min-w-0">
                        {% for locale in locales %}
                            <a class="pr-3 dropdown-item {% if app.request.locale == locale %}active{% endif %}"
                               href="{{ path(app.request.get('_route'),
                                   app.request.get('_route_params')|merge({'_locale' : locale})) }}">
                                {{ locale|locale_name|capitalize }}
                            </a>
                        {% endfor %}

                    </div>
                </li>
            </ul>

            <!-- Button -->
            {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="{{ path('admin') }}" target="_blank">
                    Admin
                </a>
            {% endif %}
            <a class="navbar-btn btn btn-sm btn-primary lift ms-auto" href="{{ path('admin') }}" target="_blank">
                Admin
            </a>

        </div>

    </div>
</nav>
